.home-bg{
    background: url(https://images.unsplash.com/photo-1517963628607-235ccdd5476c?ixlib=rb-0.3.5&s=272cbbb0803d312be894493e675cbe48&auto=format&fit=crop&w=1351&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat, repeat;
    color: white;
}
.calories-bg{
   
    background: url(https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e0245bb4e87077312cc3d102e68c1efd&auto=format&fit=crop&w=1335&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat, repeat;
    color: black ;
}
.fitness-bg{
    background: url(https://images.unsplash.com/photo-1535515384173-d74166f26820?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a39ab809fc1849faefb2ab12ca351748&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat, repeat;
    color: black;  
    
    
}
.testing-bg{
    background: url(https://images.unsplash.com/photo-1526401485004-46910ecc8e51?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=126329be8d7b9c484ee5e2981fe1f907&auto=format&fit=crop&w=1650&q=80);
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat, repeat;
    
    color: black;
    
}
.BasicInfo-bg{
    background: url(https://images.unsplash.com/photo-1508050249562-b28a87434496?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=58c6f24f1cc11a17402f649ecf3e46d6&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-repeat: no-repeat, repeat;
    background-position: center;
    color: black;
    
    
    
    
}
.WeightCalc-bg{
    background: url(https://images.unsplash.com/photo-1535515384173-d74166f26820?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a39ab809fc1849faefb2ab12ca351748&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat, repeat;
    padding-top: 10%;
    
    
    
}
.login-bg{
    
    background: url(https://images.pexels.com/photos/220116/pexels-photo-220116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    
    color: black;
    align-content: center;
    background-color: rgb(228, 224, 224);
}
.Summary-bg{
   
    color: black;
    background: url(https://images.unsplash.com/photo-1532153259564-a5f24f261f51?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=27c1b63c51b1ca6befa96bc4b9d51415&auto=format&fit=crop&w=1350&q=80); 
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    margin-left: 10%;
    background-color: #fff;
background-image:
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
}
.button{
    text-emphasis-color: black;
}
.partsList{
    background-color: #f8f8f8;
    opacity: 0.5;
}


body{
    position: relative;
}
html {
   padding-top: 10%;
    /* background: no-repeat center center scroll; */
    /* position: absolute; */
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: white;
    
}

.container5{
    margin-left: 35%;
    margin-right: 20%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;

    padding-bottom: 1%;
    /* background-color: rgba(211, 211, 211,.8); */
    /* align-content: center; */
    justify-content: left;
    width: 400px;
    font-size: 20pt; 
}
.container9{
    margin-left: 45%;
    margin-top: 2%;
    
    
    padding-left: 10%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(211, 211, 211,.8);
    width: 690px;
    
}
.container2{
    margin-left: 40%;
    margin-top: 25%;
    
    
    padding-left: 10%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(211, 211, 211,.8);
    width: 690px;
    
}
.printout{
    margin-left:10%;
    margin-top: 5%;
    
    
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(211, 211, 211,.8);
    width: 600px;
}
.containter3{
    margin-left:10%;
    margin-top: 5%;
    
    
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(211, 211, 211,.8);
    width: 600px;
}

.list-group{

    margin-left: 10%;
    position: center;
    width:500px;
}
.scrollspy-example{
    color: black;
    margin-left: 10%;
    position: center;
    width: 500px;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}


.content{
    padding-top: 25%;
    
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    
}
.clickIt{
    color: black;
    
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.UserName{
position: fixed;
margin: 50%;
}